.container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container .section-calendar {
  width: 100%;
  max-width: 870px;
  padding: 15px;
  border: 1px solid #eee;
  border-top: 5px solid #fac863;;
}

.container .section-data-list {
  width: 70%;
}

.w-100 {
  /* margin: 15px 200px;
  width: 100%; */
  background: #eee;
  border-radius: 10px;
}
